version: "3"

services:

  db:
    build: db
    restart: on-failure
    volumes:
      - ./volumes/db/var/lib/postgresql/data:/var/lib/postgresql/data
      # No time mapping is needed, we expect the database to run in UTC.
    environment:
      - POSTGRES_USER=catmaid
      - POSTGRES_PASSWORD=catmaid_password
      - POSTGRES_DB=catmaid
      # By default, 50 connections are assumed.
      - DB_CONNECTIONS=50
      # By default, the database is only tuned on initial startup. To force a
      # new tuning, set DB_FORCE_TUNE=true.
      - DB_FORCE_TUNE=false
      # Allow database updates
      #- DB_UPDATE=false
      #
      # Enable initial tuning
      # - DB_TUNE=true
      #
      # By default the available memory of the host is used for tuning the
      # database. This can be overridden by setting INSTANCE_MEMORY to a custom
      # value in megabytes.
      #- INSTANCE_MEMORY=512

  app:
    image: catmaid/catmaid:stable
    restart: unless-stopped
    volumes:
      - ./volumes/app/static:/home/django/static
      - /etc/localtime:/etc/localtime:ro
    environment:
      # set same as db credentials and dbname
      DB_HOST: db
      DB_USER: catmaid
      DB_PASS: catmaid_password
      DB_NAME: catmaid
      # Add example projects
      CM_EXAMPLE_PROJECTS: true
      # Adjust the maximum size in Bytes of imported skeletons
      #CM_IMPORTED_SKELETON_FILE_MAXIMUM_SIZE: 5242880
      # The IP to listen on
      #CM_HOST: "0.0.0.0"
      # The port to listen on
      #CM_PORT: 8000
      # Whether CATMAID's settings.py should be regenerated
      #CM_FORCE_CONFIG_UPDATE: "false"
      # Where CATMAID can write data to
      #CM_WRITEABLE_PATH: "/tmp"
      # The maximum number of nodes to fetch in one request
      #CM_NODE_LIMIT: 10000
      # Which node provider to use
      #CM_NODE_PROVIDERS: "['postgis2d']"
      # The subdirectory relative to the external domain root, no trailing or
      # leading slashes.
      #CM_SUBDIRECTORY: ""
      # Which sources to trust for CSRF protection, typically the external
      # domain, e.g. catmaid.example.com
      #CM_CSRF_TRUSTED_ORIGINS: ""
    depends_on:
      - db

  web:
    build: web
    ports:
      - "8000:80"
      - "8443:443"
    restart: on-failure
    volumes:
      # This directory must have cert files
      - ./volumes/web/cert:/cert:ro
      - ./volumes/app/static:/static:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      # Basic HTTP authentication can be enabled by setting the environment
      # variable HTTP_AUTH_ENABLED to true and setting the environment variables
      # HTTP_AUTH_USER and HTTP_AUTH_PASS to the desired values.
      - HTTP_AUTH_ENABLED=false
      #- HTTP_AUTH_USER=catmaid
      #- HTTP_AUTH_PASS=secure_password
    depends_on:
      - app
